@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="display-4">TRANSACTION SURCHARGE CALCULATOR</h2>
    <h4>
        Use the Menu to navigate and test the Application!
        Click Upload File to Upload the Fee Configuration and Calculate to calculate the Surcharges
    </h4>
</div>
